<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<h1>Create a User:</h1>
<form th:action="@{/addUser}"
      th:object="${users}" th:method="POST">
    Username:
    <input type="text" th:field="*{username}"/>
    <br/>
    Password:
    <input type="text" th:field="*{password}"/>
    <br/>
    Roles:
    <br/>
    <th:block th:each="role : ${roles}">
        <input type="checkbox" th:field="*{roles}"
               th:value="${role.id}"
               th:text="${role.name}"/>
    </th:block>
    <br/>
    <input type="submit" value="Create"/>
</form>

</body>
</html>